<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vomie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3D60D7A2816EBFE0098CC74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3D60D932816EC010098CC74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3D60D9D2816EC010098CC74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
